{% extends "sellers/profile.html" %}
{% block title %}Add a new book{% endblock %}
{% block content %}
{% if can_add_book %}
<h1>Update Book:</h1>
<form action="." enctype="multipart/form-data" method="POST">
{% csrf_token %}
{{ form.non_field_errors }}
<table style="margin-left: 20px;">
{% for field in form.visible_fields %}
{% if forloop.first %}
  {% for hidden in form.hidden_fields %}
  <tr><td colspan="2">{{ hidden }}</td><td>{{ hidden.errors }}</td></tr>
  {% endfor %}
{% endif %}
<tr>
  <td class="fieldWrapper">{{ field.label_tag }}:</td>
  <td>{{ field }} {{ field.errors }} {{ field.help_text }}</td>
</tr>
{% endfor %}
<tr><td colspan="2" align="right"><input type="submit" value="Update Book" class="rounded-corners" style="color: white;" /></td></tr>
</table>
</form>
{% else %}
<div class="ui-widget">
<div class="ui-state-error ui-corner-all" style="padding: 5px;">
Your account is <strong>INACTIVE</strong>.  
Please <a href="/accounts/profile/">Activate</a> your account to <strong>Add a Book</strong>.
</div>
</div>
<br />
{% endif %}
{% endblock %}