{% extends "base.html" %}
{% block title %}Welcome {% if seller.screen_name %}{{ seller.screen_name }}{% else %}{{ user.username }}{% endif %}.{% endblock %}
{% block menu %}
<div style="margin-top: 10px;">
<a href="/accounts/books/">My Book List</a> | <a href="/profiles/{{ user.username }}">My Account</a> |
<a href="/profiles/edit/">Edit Account</a> | <a href="/books/add/">Add Book</a> |
<a href="/support/">Support</a> | <a href="/accounts/delete/{{ user.id }}/">Delete Account</a> |
<a href="/accounts/logout/">Logout</a>
</div>
{% endblock %}
{% block content %}
<h1>Welcome {% if seller.get_full_name %}{{ seller.get_full_name }}{% else %}{{ user.username }}{% endif %}, please activate your account.</h1>
{% ifequal seller.account_status 'PV' %}
<div class="ui-widget">
<div class="ui-state-error ui-corner-all" style="padding: 5px;">Your Account is
pending validation. Please send us your payment information to payments@mibooklist.com if you have made your payment.</div>
</div>
<br />
{% endifequal %}
{% ifequal seller.account_status 'PP' %}
<div class="ui-widget">
<div class="ui-state-error ui-corner-all" style="padding: 5px;">
Your Account is <strong>pending payment</strong>. 
Please make your payment.
</div>
</div>
<br />
{% endifequal %}
{% ifequal seller.payment_option 'GC' %}
<div class="ui-widget">
<div class="ui-state-highlight ui-corner-all" style="padding: 5px;">
Please make your payment via <strong>Google Checkout</strong> by clicking on the following button.
<form action="https://checkout.google.com/api/checkout/v2/checkoutForm/Merchant/310241628213928" id="BB_BuyButtonForm" method="post" name="BB_BuyButtonForm" target="_top">
    <input name="item_name_1" type="hidden" value="miBookList.com yearly subscription"/>
    <input name="item_description_1" type="hidden" value="Yearly subscription to miBookList.com"/>
    <input name="item_quantity_1" type="hidden" value="1"/>
    <input name="item_price_1" type="hidden" value="15.0"/>
    <input name="item_currency_1" type="hidden" value="USD"/>
    <input name="shopping-cart.items.item-1.digital-content.description" type="hidden" value="After we've received your payment, your account will be activated automatically."/>
    <input name="shopping-cart.items.item-1.digital-content.url" type="hidden" value="http://www.mibooklist.com/"/>
    <input name="_charset_" type="hidden" value="utf-8"/>
    <input alt="" src="https://checkout.google.com/buttons/buy.gif?merchant_id=310241628213928&amp;w=117&amp;h=48&amp;style=trans&amp;variant=text&amp;loc=en_US" type="image"/>
</form>

</div>
</div>
<br />
{% else %}
<div class="ui-widget">
<div class="ui-state-highlight ui-corner-all" style="padding: 5px;">
You selected <strong>Local Bank Deposit</strong>. 
</div>
</div>
<br />
{% endifequal %}
{% endblock %}